
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.png" rel="icon" />
<title>General Invoice - Koice</title>
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/all.min.css"/>
<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<!-- Container -->
<div class="container-fluid invoice-container">
  <!-- Header -->
  <header>
  <div class="row align-items-center">
    <div class="col-sm-7 text-center text-sm-start mb-3 mb-sm-0">
      <img id="logo" src="/logo.png" style="width: 100px; display: inline; margin-top: -80px" title="AppiSpot" alt="AppiSpot" />
    </div>
    <div class="col-sm-5 text-center text-sm-end">
      <h4 class="text-7 mb-0">Invoice</h4>
    </div>
  </div>
  <hr>
  </header>
  
  <!-- Main Content -->
  <main>
  <div class="row">
    <div class="col-sm-6"><strong>Date:</strong> <%= invoice.date %></div>
    <div class="col-sm-6 text-sm-end"> <strong>Invoice No:</strong> 16835</div>
	  
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 text-sm-end order-sm-1"> <strong>Pay To:</strong>
      <address>
      <%= invoice.shipping.name %><br />
      <%= invoice.shipping.address %><br />
      </address>
    </div>
    <div class="col-sm-6 order-sm-0"> <strong>Invoiced To:</strong>
      <address>
      <%= invoice.items[0].item %><br />
      <%= invoice.items[0].address %><br />
      <%= invoice.items[0].description %><br />
      </address>
    </div>
  </div>
	
  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
		<thead class="card-header">
          <tr>
            <td class="col-3"><strong>Spot Name</strong></td>
			<td class="col-4"><strong>Description</strong></td>
            <td class="col-2 text-center"><strong>Address</strong></td>
			<td class="col-1 text-center"><strong>Guests</strong></td>
            <td class="col-2 text-end"><strong>Amount</strong></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-3"><%= invoice.items[0].item %></td>
              <td class="col-4 text-1"><%= invoice.items[0].description %></td>
              <td class="col-2 text-center"><%= invoice.items[0].address %></td>
			  <td class="col-1 text-center"><%= guests %></td>
			  <td class="col-2 text-end">$ <%= invoice.items[0].amount %></td>
            </tr>
          </tbody>
		  <tfoot class="card-footer">
			<tr>
              <td colspan="4" class="text-end"><strong>Sub Total:</strong></td>
              <td class="text-end">$ <%= invoice.items[0].amount %></td>
            </tr>
            <tr>
              <td colspan="4" class="text-end"><strong>Tax(<%= invoice.items[0].taxRate.rate %>):</strong></td>
              <td class="text-end">$ <%= invoice.items[0].taxRate.amt %></td>
            </tr>
            <tr>
              <td colspan="4" class="text-end"><strong>Service Fee(<%= invoice.items[0].taxRate.serviceFee %>):</strong></td>
              <td class="text-end">$ <%= invoice.items[0].serviceFee %></td>
            </tr>
			<tr>
              <td colspan="4" class="text-end border-bottom-0"><strong>Total:</strong></td>
              <td class="text-end border-bottom-0">$ <%= invoice.items[0].total %></td>
            </tr>
		  </tfoot>
        </table>
      </div>
    </div>
  </div>
  </main>
  <!-- Footer -->
  <footer class="text-center mt-4">
  <p class="text-1"><strong>NOTE :</strong> This is computer generated receipt and does not require physical signature.</p>
  <!-- <div class="btn-group btn-group-sm d-print-none"> <a href="javascript:window.print()" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-print"></i> Print</a> <a href="" class="btn btn-light border text-black-50 shadow-none"><i class="fa fa-download"></i> Download</a> </div> -->
  </footer>
</div>
</body>
</html>